<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD  Config 3.0//EN"               
" http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="aggressiveLazyLoading" value="false" />
	</settings>

	<plugins>
		<plugin interceptor="com.github.loafer.mybatis.pagination.PaginationInterceptor">
			<property name="dialect" value="mysql" />
			<property name="stmtIdRegex" value="*.selectPaging*" />
		</plugin>
	</plugins>

	<!-- 
	<mappers>
		<mapper resource="com/wins/dsp/xx/xx/dao/XXXDao.xml" />
	</mappers>
	 -->

</configuration>